@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.heading-1 {
	font-family: 'Pacifico', cursive;
}

.image:hover {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 3px 3px 16px 0px rgba(184,184,184,1);
}
